#ApiForward
gen-cpp/
3rdparty/boost*
extension/userdefined.thrift
extension/userdef_client.cpp
extension/userdef_server.h

#Visual Studio files
*.[Oo]bj
*.user
*.aps
*.pch
*.vspscc
*.vssscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.[Cc]ache
*.ilk
*.log
*.sbr
*.sdf
*.opensdf
*.unsuccessfulbuild
ipch/
obj/
[Ll]ib
[Bb]in
[Dd]ebug*/
[Rr]elease*/
Ankh.NoLoad

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#Force include
!3rdparty/OpenSSL-Win32/**
!3rdparty/thrift-0.9.2/lib
